<div class="body">
  <h1>MyStore</h1>

  <button routerLink="/products"><span>Home  </span></button>

  <button routerLink="/cart">
    <span>Cart [{{ totalCartQuantity }}] </span>
  </button>

  <button routerLink="/authenticate" *ngIf="userIsLoggedIn === false">
    <span>Login  </span>
  </button>

  <button routerLink="/orders" *ngIf="userIsLoggedIn === true">
    <span>View Orders  </span>
  </button>

  <button routerLink="/" *ngIf="userIsLoggedIn === true" (click)="logout()">
    <span>Logout  </span>
  </button>
</div>
