<h5>Create an account</h5>
<div id="wrap">
  <form
    class="create-account-form"
    #createAccountForm="ngForm"
    (ngSubmit)="submitForm()"
  >
    <div class="create-account-info">
      <label>First name:</label>
      <input
        type="text"
        name="firstName"
        placeholder="Enter your first name (minimum 3 characters)"
        [(ngModel)]="firstName"
        required
        minlength="3"
        #createAccountFirstName="ngModel"
      />
    </div>
    <div *ngIf="createAccountFirstName.invalid && createAccountFirstName.dirty">
      <div
        *ngIf="
          createAccountFirstName.errors &&
          createAccountFirstName.errors['required']
        "
        class="error-message"
      >
        Please provide your first name.
      </div>
      <div
        *ngIf="
          createAccountFirstName.errors &&
          createAccountFirstName.errors['minlength']
        "
        class="error-message"
      >
        The first name must contain at least 3 characters.
      </div>
    </div>
    <div class="create-account-info">
      <label>Last name:</label>
      <input
        type="text"
        name="lastName"
        placeholder="Enter your last name (minimum 3 characters)"
        [(ngModel)]="lastName"
        required
        minlength="3"
        #createAccountLastName="ngModel"
      />
    </div>
    <div *ngIf="createAccountLastName.invalid && createAccountLastName.dirty">
      <div
        *ngIf="
          createAccountLastName.errors &&
          createAccountLastName.errors['required']
        "
        class="error-message"
      >
        Please provide your last name.
      </div>
      <div
        *ngIf="
          createAccountLastName.errors &&
          createAccountLastName.errors['minlength']
        "
        class="error-message"
      >
        The last name must contain at least 3 characters.
      </div>
    </div>

    <div class="create-account-info">
      <label>Email address:</label>
      <input
        type="text"
        name="email"
        placeholder="Enter your email"
        [(ngModel)]="email"
        required
        #signinEmail="ngModel"
      />
    </div>
    <div *ngIf="signinEmail.invalid && signinEmail.dirty">
      <div
        *ngIf="signinEmail.errors && signinEmail.errors['required']"
        class="error-message"
      >
        Please provide your email address.
      </div>
    </div>
    <div class="create-account-info">
      <label>Password:</label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        name="password"
        placeholder="Enter your password (8-16 characters)"
        [(ngModel)]="password"
        required
        minlength="8"
        maxlength="16"
        #createAccountPassword="ngModel"
      /><span class="togglePassword" (click)="togglePassword()">{{
        hidePassword ? 'Show' : 'Hide'
      }}</span>
    </div>
    <div *ngIf="createAccountPassword.invalid && createAccountPassword.dirty">
      <div
        *ngIf="
          createAccountPassword.errors &&
          createAccountPassword.errors['required']
        "
        class="error-message"
      >
        Please provide your password.
      </div>
      <div
        *ngIf="
          createAccountPassword.errors &&
          createAccountPassword.errors['minlength']
        "
        class="error-message"
      >
        The password must contain at least 8 characters.
      </div>
    </div>
    <button
      type="submit"
      [disabled]="createAccountForm.invalid"
      class="button-5"
    >
      Create new account
    </button>
  </form>
  <div *ngIf="apiError.errorOccurred === true" class="system-error-message">
    <p>[{{ apiError.errorCode }}] {{ apiError.errorMessage }}</p>
    <p *ngIf="apiError.statusCode === 500">TraceId: {{ apiError.traceId }}</p>
  </div>
</div>

<ngx-spinner
  name="create-account-spinner"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="cog"
>
  <p class="create-account-spinner">Creating your account...</p>
</ngx-spinner>
