<div>
  <h4>Order History</h4>
</div>
<div *ngIf="apiError.errorOccurred === true" class="system-error-message">
  <div *ngIf="apiError.errorCode !== 4000">
    <p>{{ apiError.errorMessage }}</p>
    <p *ngIf="apiError.statusCode === 500">TraceId: {{ apiError.traceId }}</p>
  </div>
  <div class="orders-message" *ngIf="apiError.errorCode === 4000">
    <p>You have no recent orders.</p>
  </div>
</div>
<div class="order-index" *ngIf="apiError.errorOccurred === false">
  <div class="order-panel" *ngIf="orders.length > 0">
    <app-order-item
      *ngFor="let order of orders"
      [order]="order"
      class="order-item"
    ></app-order-item>
  </div>
  <div class="orders-message" *ngIf="orders.length === 0">
    <p>You have no recent orders.</p>
  </div>
</div>
